@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

body {
  background: #ececec;
  font-family: 'Poppins', sans-serif;
}

.box-area {
  width: 960px;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }

  .left-box {
    height: 100px;
    overflow: hidden;
  }

  .right-box {
    padding: 20px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7fbfb;
}

.left {
  min-height: 100vh;
  background: #12a34a;
  color: white;
  padding: 50px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.logo-icon {
  display: inline-flex;
  width: 36px;
  height: 36px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, .2);
}

.content {
  margin-top: 300px;
}

.content h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.3;
}

.content p {
  font-size: 14px;
  line-height: 1.8;
}

.feature {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.feature-icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .2);
}

.feature-title {
  font-size: 14px;
  font-weight: bold;
}

.feature-text {
  font-size: 11px;
}

.right {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-box {
  width: 100%;
  max-width: 450px;
}

.form-box h2 {
  font-size: 28px;
  font-weight: bold;
}

.login {
  font-size: 12px;
  color: #8491a5;
}

.login a {
  color: #12a34a;
  text-decoration: none;
}

.step {
  display: flex;
  align-items: center;
  margin: 25px 0;
  font-size: 12px;
  color: #8995a8;
}

.step-number {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e5ebf2;
  margin-right: 8px;
}

.step-number.active {
  background: #12a34a;
  color: white;
}

.line {
  width: 100px;
  height: 1px;
  background: #ddd;
  margin: 0 15px;
}

label {
  font-size: 12px;
  color: #52627a;
  margin-bottom: 6px;
}

input {
  height: 44px;
  border-radius: 12px !important;
}

.form-control {
  border-color: #dce3ed;
  box-shadow: none !important;
}

.btn-register {
  width: 100%;
  height: 49px;
  margin-top: 10px;
  border: 0;
  border-radius: 12px;
  background: #12a34a;
  color: white;
  font-size: 13px;
  font-weight: bold;
}

.security {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  color: #8491a5;
}

@media (max-width: 768px) {

  .left {
    min-height: auto;
    padding: 30px;
  }

  .content {
    margin-top: 100px;
  }

  .content h1 {
    font-size: 30px;
  }

  .right {
    min-height: auto;
    padding: 40px 20px;
  }
}

.hero {
    background-color: #153f34 !important;

    background-image:
        radial-gradient(
            circle at 90% 50%,
            rgba(180, 210, 120, 0.4),
            transparent 40%
        );
}

.btn-book {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    background-color: #c5d65a;
    color: #173d32;

    padding: 12px 22px;
    border-radius: 50px;

    text-decoration: none;
    font-weight: 600;

    transition: all 0.3s ease;
}

.btn-book span {
    transition: transform 0.3s ease;
}

.btn-book:hover {
    background-color: #d4e477;
    color: #173d32;
    transform: translateY(-2px);
}

.btn-book:hover span {
    transform: translateX(5px);
}

